#banner {
	width:100%;
}

.principal{
	background: #7c6073;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #b01d1d;
}

.itens {
	font-style: italic
}

.info {
	background: #90c9ba;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagem {
	width: 50%;
}
